<div class="card mb-3 shadow" style="max-width: 100vw">
  <h3 class="card-header ">{{ title }}</h3>
  <div class="card-body">
    <select (change)="changeState(item, $event)">
      <option [selected]="state === category" *ngFor="let state of categories" [value]="state">
        {{ state }}
      </option>
    </select>
    <div class="card-icons">
      <app-icon-edit (click)="goToEdit(item)"></app-icon-edit>
      <app-icon-delete (click)='delete(item.id)'></app-icon-delete>
    </div>
  </div>
</div>