<div class="card mb-3" style="max-width: 100vw">
  <div class="card-header">{{ title }}</div>
  <div class="card-body">
    <select (change)="changeState(item, $event)">
      <option [selected]="state === category" *ngFor="let state of categories" [value]="state">
        {{ state }}
      </option>
    </select>
  </div>
  <div class="card-footer">
    <button (click)="goToEdit(item)" ngClass="btn btn-outline-primary">Edit</button>
    <button (click)="delete(item.id)" ngClass="btn btn-danger mx-2">Delete</button>
  </div>
</div>