<div class="fluid-container">
  <header class="header shadow">
    <ng-content select=".tr-header"></ng-content>
  </header>

  <main class="container px-4" style="margin-top: 100px">
    <div
      class="bg-image"
      style="
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin-top: 100px;
        /* background-image: url(../../../../assets/ray-mallick-5J1bHRX1fNw-unsplash.jpg); */
        /* background-size: contain; */
        background-image: linear-gradient(to bottom, #f443368d, #fffb073c);
        opacity: 0.4;
        z-index: -2;
        /* object-fit: cover; */
      "
    ></div>

    <ng-content select=".tr-router"></ng-content>
  </main>
  <footer>
    <app-icon-add (click)="goToAdd()"></app-icon-add>
  </footer>
</div>
