<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="title">Title</label>

    <input
      type="text"
      class="form-control"
      id="title"
      placeholder="Title"
      formControlName="title"
    />
  </div>
  <div class="form-group">
    <label for="category">Catégorie</label>
    <select class="form-control" id="category" formControlName="category">
      <option *ngFor="let category of categories" [value]="category">
        {{ category }}
      </option>
    </select>
  </div>
  <button type="submit">Envoyer</button>
</form>
