<!-- mettre des composants * 4  ou cards -->
<!-- mettre à chacun un tableau filtré -->
<h1>To do</h1>
<div *ngFor="let item of toDos">
  <app-card
    [title]="item.title"
    [item]="item"
    [category]="item.category"
  ></app-card>
</div>
<h1>In progress</h1>
<div *ngFor="let item of inProgress">
  <app-card
    [title]="item.title"
    [item]="item"
    [category]="item.category"
  ></app-card>
</div>
<h1>Done</h1>
<div *ngFor="let item of done">
  <app-card
    [title]="item.title"
    [item]="item"
    [category]="item.category"
  ></app-card>
</div>
<h1>Blocked</h1>
<div *ngFor="let item of blocked">
  <app-card
    [title]="item.title"
    [item]="item"
    [category]="item.category"
  ></app-card>
</div>
